body {
    width: 1280px;
    font-family: 'Roboto', sans-serif;
}

.header_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.title_slogan {
    margin-left: 98px;
    text-decoration: none;
    width: 334px;
    height: 79px;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 400;

}

.title_slogan_link {
    color: #4BCAFF;
    text-decoration: none;
}

.menu_header_container {
    width: 1280px;
    height: 67px;
    border: 1px solid #35444F;
    background-color: #35444F;
    margin: 0px 100px 0 100px;
}

.menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    height: 69px;
    margin: 0px;
    padding: 0px;
}

.menu_item {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    line-height: 69px;
    padding: 0 30px;
    height: 69px;
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
}

.flex_container {
    display: flex;
}

.menu_item_hover:hover {
    color: #dd2323;
    cursor: pointer;
}




.aside_menu_container {
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.00);
    width: 344px;
    height: 399px;
    margin-top: 48px;
    margin-left: 100px;
}

.sidbar_menu {
    list-style-type: none;
    text-decoration: none;
}

.sidbar_item {
    text-decoration: none;
    color: #495863;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;
    padding-top: 50px;
}

.sidbar_item:nth-child(2) {
    width: 342px;
    height: 81px;
    background: #DBDBDB;
}

.sidbar_item:hover {
    color: #dd2323;
    cursor: pointer;
    background-color: transparent;
}


.main_container {
    margin-top: 48px;
    padding-left: 45px;
    max-width: 100%;
    height: auto;
}

.main_contant img {
    max-width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.main_contant img:hover {
    transform: scale(1.1);
}



.main_contant {
    display: flex;
    flex-direction: column-reverse;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    width: 885px;
    height: 529px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.00);
}


.text_block {
    width: 885px;
    height: 141px;
    flex-shrink: 0;
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


.text_block_second {
    padding-top: 13px;
    display: flex;
    width: 885px;
    height: 109px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


.footer_menu {
    display: flex;
    justify-content: center;
    margin: 54px 100px 30px 100px;
    background: rgba(99, 105, 110, 0.48);
    width: 1280px;
    height: 69px;

}


.menu_item_footer {
    list-style-type: none;
    padding-right: 30px;
    margin: 20px 0px 21px 40px;
    color: #0C1927;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
}

.menu_item_footer_right {
    display: flex;
    width: 190px;
    height: 69px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #010101;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 200px;
}

.special_item_foote {
    color: #3181A6;
    text-decoration: none;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.special_item_foote:hover {
    color: #dd2323;
    cursor: pointer;
    background-color: transparent;
}